*{
    padding: 0;
    margin: 0;
    
}
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        
    }
    

    form {
        max-width: 100%;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #3a0335;
        border-radius: 5px;
        background-color: #f9f9f9;
        margin-left: 5%;
        margin-right: 5%;
      
        
    }
     #basicos{
        
        border:10px;
        border-color: #45a049;
        border-width: 10px;
        width: 100%;
       
    }
    #main_b{       
        border:10px;
        border-color: #45a049;
        border-width: 10px;
        width: 100%;
        min-height: 500px;
        
    }
    #bsc_1{
        margin-top: 5%;
        margin-right: 1%;
        max-width: 47%;
        float: left;

    }
    #bsc_2{
        margin-top: 10%;
        margin-left: 1%;
        max-width: 47%;
        float: right;
    }
    label {
        font-weight: bold;
    }
    input[type="text"], input[type="email"], input[type="number"] {
        width: 100%;
        padding: 8px;
        margin: 5px 0 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }
    input[type="submit"]:hover {
        align-items: center;
        background-color: #45a049;
    }
    .btn-container {
        text-align: center;
        margin-top: 20px; /* Espacio entre el formulario y el botón */
    }
